body
  { font-size: 100%;
    margin: 0;
    padding: 0;
    
  }    
  body, caption, th, td, input, textarea, select, option, legend, fieldset
  {
    font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", Sans, sans-serif;
  }    
/* **** Defaults **** */  /** headings **/
  h1
  { font-size: 2em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 0.5em; /* 0.5em is equavalent to 1em in the page's base font. A margin specified in ems is relative to
                             the element's font-size, not to the pages' base font size. */
  }    
  h2
  { font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0.667em; /* Equivalent to 1em in the page's base font: 1 / 1.5 = 0.667em */
    margin-bottom: 0.667em;
  }    
  h3
  { font-size: 1.3em;
    line-height: 1.3em;
    margin-top: 0.769em; /* Equivalent to 1em in the page's base font: 1 / 1.3 = 0.769 */
    margin-bottom: 0.769em;
  }    
  h4, h5, h6
  { font-size: 1.1em;
    line-height: 1.3em;
    margin-top: 0.909em; /* Equivalent to 1em in the page's base font: 1 / 1.1 = 0.909 */
    margin-bottom: 0.909em;
  }    
  p, ul, ol
  { margin: 0;
  }    
  table
  { border-collapse: collapse;
  }    
  th, thead th, tbody th
  { text-align: left;
  }
  img
  { border: 0;
  }
  form
  { margin: 0;
    padding: 0;
  }
div#bbtl
{ position:absolute;
  top:0;
  left:0;
  
}
div#bbtr
{ position:absolute;
  top:0;
  right:0;
  
}
div#pbbl
{ position:absolute;
  bottom:0;
  left:0;
  
}
div#pbbr
{ position:absolute;
  bottom:0;
  right:0;
  
}
  #page
  {
    margin-left: auto;
    margin-right: auto;
    width:800px;
    
  }
    #page-inner
    { position:relative;
    }
      #navigation-top, #navigation
      { position: absolute;
        left: -10000px;
      }
      #skip-to-nav
      { position:relative; /* This allows the skip-to-nav link to not take up any screen space at all, but will remain visible to screen readers? */
        z-index:-99;
        margin: 0 !important;
        font-size: 0.8em;
        background-color:#9cb3be;
      }

      #skip-to-nav a, #skip-to-nav a:hover, #skip-to-nav a:visited
      {
        position: absolute;
        left: 0;
        top: -500px;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }

      #skip-to-nav a:active, #skip-to-nav a:focus
      {
        position: static;
        width: auto;
        height: auto;
      }
#page .section
{  
  clear:both;
}
.section .inner
{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear-block {
  display: block;
}
.tlc, .trc, .blc, .brc
{ background-repeat: no-repeat;
  width:100%;
  height:100%;
}
.tb, .bb
{ background-repeat: repeat-x;
  width:100%;
  height:100%;
}
.lb, .rb
{ width:100%;
  height:100%;
}
/* background, margin, border, skinnables */
#s_2_1_2_1
{ overflow:hidden;  padding:0;  margin:0; 
  position:relative;
  float:left;width:100%;
}
/* background, margin, border, padding */
#s_2_1_2_1 .c_2_1_2_1-inner
{
  
  background-color:aqua;
}
#s_2_1_2_1 .section
{
  clear:none;
}

#s_2_1_2_1_tlc
{
  
  background-position: 0% 0%;
  background-repeat:no-repeat;
}
#s_2_1_2_1_trc
{
  
  background-position: 100% 0%;
  background-repeat:no-repeat;
}
#s_2_1_2_1_blc
{
  
  background-position: 0% 100%;
  background-repeat:no-repeat;
}
#s_2_1_2_1_brc
{
  
  background-position: 100% 100%;
  background-repeat:no-repeat;
}
#s_2_1_2_1_tb
{
  
}
#s_2_1_2_1_bb
{
  
  background-position: 50% 100%;
}
#s_2_1_2_1_rb
{
  
}
#s_2_1_2_1_lb
{
  
}
  
/* background, margin, border, skinnables */
#s_9_1_2_1
{ overflow:hidden;  padding:0;  margin:0; 
  position:relative;
  
}
/* background, margin, border, padding */
#s_9_1_2_1 .c_9_1_2_1-inner
{
  
  
}
#s_9_1_2_1 .section
{
  clear:both;
}

#s_9_1_2_1_tlc
{
  
  background-position: 0% 0%;
  background-repeat:no-repeat;
}
#s_9_1_2_1_trc
{
  
  background-position: 100% 0%;
  background-repeat:no-repeat;
}
#s_9_1_2_1_blc
{
  
  background-position: 0% 100%;
  background-repeat:no-repeat;
}
#s_9_1_2_1_brc
{
  
  background-position: 100% 100%;
  background-repeat:no-repeat;
}
#s_9_1_2_1_tb
{
  
}
#s_9_1_2_1_bb
{
  
  background-position: 50% 100%;
}
#s_9_1_2_1_rb
{
  
}
#s_9_1_2_1_lb
{
  
}
  
/* background, margin, border, skinnables */
#s_3_1_2_1
{ overflow:hidden;  padding:0;  margin:0; 
  position:relative;
  
}
/* background, margin, border, padding */
#s_3_1_2_1 .c_3_1_2_1-inner
{
  
  
}
#s_3_1_2_1 .section
{
  clear:both;
}

#s_3_1_2_1_tlc
{
  
  background-position: 0% 0%;
  background-repeat:no-repeat;
}
#s_3_1_2_1_trc
{
  
  background-position: 100% 0%;
  background-repeat:no-repeat;
}
#s_3_1_2_1_blc
{
  
  background-position: 0% 100%;
  background-repeat:no-repeat;
}
#s_3_1_2_1_brc
{
  
  background-position: 100% 100%;
  background-repeat:no-repeat;
}
#s_3_1_2_1_tb
{
  
}
#s_3_1_2_1_bb
{
  
  background-position: 50% 100%;
}
#s_3_1_2_1_rb
{
  
}
#s_3_1_2_1_lb
{
  
}
  
#s_3_1_2_1 a{
 
   
 }
#s_3_1_2_1 a:hover{  
   
  }
#s_3_1_2_1 a.selected{ 
   
  }
#s_3_1_2_1 a.selected:hover{   }
#s_3_1_2_1 a.noclick{  }
/* background, margin, border, skinnables */
#s_2_2_2_1
{ overflow:hidden;  padding:0;  margin:0; 
  position:relative;
  float:left;height:100px;width:100%;
}
/* background, margin, border, padding */
#s_2_2_2_1 .c_2_2_2_1-inner
{
  
  background-color:fuchsia;
}
#s_2_2_2_1 .section
{
  clear:none;
}

#s_2_2_2_1_tlc
{
  
  background-position: 0% 0%;
  background-repeat:no-repeat;
}
#s_2_2_2_1_trc
{
  
  background-position: 100% 0%;
  background-repeat:no-repeat;
}
#s_2_2_2_1_blc
{
  
  background-position: 0% 100%;
  background-repeat:no-repeat;
}
#s_2_2_2_1_brc
{
  
  background-position: 100% 100%;
  background-repeat:no-repeat;
}
#s_2_2_2_1_tb
{
  
}
#s_2_2_2_1_bb
{
  
  background-position: 50% 100%;
}
#s_2_2_2_1_rb
{
  
}
#s_2_2_2_1_lb
{
  
}
  
/* background, margin, border, skinnables */
#s_2_4_2_1
{ overflow:hidden;  padding:0;  margin:0; 
  position:relative;
  float:left;height:100px;width:120px;
}
/* background, margin, border, padding */
#s_2_4_2_1 .c_2_4_2_1-inner
{
  
  background-color:olive;
}
#s_2_4_2_1 .section
{
  clear:none;
}

#s_2_4_2_1_tlc
{
  
  background-position: 0% 0%;
  background-repeat:no-repeat;
}
#s_2_4_2_1_trc
{
  
  background-position: 100% 0%;
  background-repeat:no-repeat;
}
#s_2_4_2_1_blc
{
  
  background-position: 0% 100%;
  background-repeat:no-repeat;
}
#s_2_4_2_1_brc
{
  
  background-position: 100% 100%;
  background-repeat:no-repeat;
}
#s_2_4_2_1_tb
{
  
}
#s_2_4_2_1_bb
{
  
  background-position: 50% 100%;
}
#s_2_4_2_1_rb
{
  
}
#s_2_4_2_1_lb
{
  
}
  
/* background, margin, border, skinnables */
#s_6_1_2_1
{ overflow:hidden;  padding:0;  margin:0; 
  position:relative;
  
}
/* background, margin, border, padding */
#s_6_1_2_1 .c_6_1_2_1-inner
{
  
  
}
#s_6_1_2_1 .section
{
  clear:both;
}

#s_6_1_2_1_tlc
{
  
  background-position: 0% 0%;
  background-repeat:no-repeat;
}
#s_6_1_2_1_trc
{
  
  background-position: 100% 0%;
  background-repeat:no-repeat;
}
#s_6_1_2_1_blc
{
  
  background-position: 0% 100%;
  background-repeat:no-repeat;
}
#s_6_1_2_1_brc
{
  
  background-position: 100% 100%;
  background-repeat:no-repeat;
}
#s_6_1_2_1_tb
{
  
}
#s_6_1_2_1_bb
{
  
  background-position: 50% 100%;
}
#s_6_1_2_1_rb
{
  
}
#s_6_1_2_1_lb
{
  
}
  
#s_6_1_2_1 a{ float: left;  clear: left;  text-align: left;  margin: 0px;  border: 0px;  }
#s_6_1_2_1 a{
 
   
 }
#s_6_1_2_1 a:hover{  
   
  }
#s_6_1_2_1 a.selected{ 
   
  }
#s_6_1_2_1 a.selected:hover{   }
#s_6_1_2_1 a.noclick{  }
/* background, margin, border, skinnables */
#s_2_5_2_1
{ overflow:hidden;  padding:0;  margin:0; 
  position:relative;
  float:left;height:100px;width:680px;
}
/* background, margin, border, padding */
#s_2_5_2_1 .c_2_5_2_1-inner
{
  
  background-color:gray;
}
#s_2_5_2_1 .section
{
  clear:none;
}

#s_2_5_2_1_tlc
{
  
  background-position: 0% 0%;
  background-repeat:no-repeat;
}
#s_2_5_2_1_trc
{
  
  background-position: 100% 0%;
  background-repeat:no-repeat;
}
#s_2_5_2_1_blc
{
  
  background-position: 0% 100%;
  background-repeat:no-repeat;
}
#s_2_5_2_1_brc
{
  
  background-position: 100% 100%;
  background-repeat:no-repeat;
}
#s_2_5_2_1_tb
{
  
}
#s_2_5_2_1_bb
{
  
  background-position: 50% 100%;
}
#s_2_5_2_1_rb
{
  
}
#s_2_5_2_1_lb
{
  
}
  
/* background, margin, border, skinnables */
#s_2_3_2_1
{ overflow:hidden;  padding:0;  margin:0; 
  position:relative;
  float:left;height:100px;
}
/* background, margin, border, padding */
#s_2_3_2_1 .c_2_3_2_1-inner
{
  
  
}
#s_2_3_2_1 .section
{
  clear:none;
}

#s_2_3_2_1_tlc
{
  
  background-position: 0% 0%;
  background-repeat:no-repeat;
}
#s_2_3_2_1_trc
{
  
  background-position: 100% 0%;
  background-repeat:no-repeat;
}
#s_2_3_2_1_blc
{
  
  background-position: 0% 100%;
  background-repeat:no-repeat;
}
#s_2_3_2_1_brc
{
  
  background-position: 100% 100%;
  background-repeat:no-repeat;
}
#s_2_3_2_1_tb
{
  
}
#s_2_3_2_1_bb
{
  
  background-position: 50% 100%;
}
#s_2_3_2_1_rb
{
  
}
#s_2_3_2_1_lb
{
  
}
  
