<div class="clear-block"> 
  <div class="fl" style="width:33%">
    <div>
      menu root list
    </div>
    <div>
    menu list
    </div>
  </div>
  
  
  <div class="fl" style="width:33%">
    
    assignment
    
  </div>
  
  
  <div class="fr" style="width:33%">
    
    blog posts
    
  </div>
</div>
