<h1>erubis generated content</h1>
  <div class="clear-block">
    <div class='fl'>
    <%= label_tag :html %><br />
    <%= text_area_tag :html, @lg.html,:cols=>70,:rows=>25 %>
    </div>
    <div class='fl'>
       <%= label_tag :css %><br />
    <%= text_area_tag :css, @lg.css, :cols=>70,:rows=>25 %>
    </div>
  </div>
