<h1>erubis built content</h1>
  <div class="clear-block">
    <div class='fl'>
    <%= label_tag :ehtml %><br />
    <%= text_area_tag :ehtml, @lg.ehtml,:cols=>100,:rows=>25 %>
    </div>
    <div class='fl'>
       <%= label_tag :ecss %><br />
    <%= text_area_tag :ecss, @lg.ecss, :cols=>100,:rows=>25 %>
    </div>
  </div>
